body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.6rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 20px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #F4F4F4;
  padding-top: 100px;
  position: relative;

}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
p {
  line-height: 2
}

.comp {
  width:25%;
  float: left;
  margin-right: 30px;
}
.pepper {
  width:25%;
  float: right;
  margin-left: 30px;
}

.intro {
  width:30%;
  margin:auto;
}

.contact {
  width:40%;
  margin: 40px auto 60px;
}

hr
  {
  color: #EAF6F6;
  border-style: dotted none none;
  border-color: grey;
  border-width: 4px;
  width: 5%;
  margin: 100px auto;
}



.middle-container {

  margin: 100px 0;
}


.bottom-container {
  background-color: #F4F4F4;
  padding: 50px 0 20px;

}

a {
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
  color: #40514E;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.botcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.copyright
{
  color: #40514E;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profilepic {
  width:300px;
  height:400px;


}

.btn
{
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;;
  color: #f4f4f4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover
{
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
